.box{
    border: 2px solid red;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    
}

.visited{
    background-color: cornflowerblue;
}
.non-visited{
    background-color: lightblue;
}

.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}